.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.aux
*.bbl
.DS_Store
*.toc
*.blg
*.dvi
*.log
*.synctex
*.synctex.gz
R-pack-dev/.DS_Store
.DS_Store
.DS_Store
R-pack-dev/.DS_Store
R-pack-dev/.DS_Store
R-pack-dev/PMD/.DS_Store
R-pack-dev/PMD/.DS_Store
.DS_Store
tex/PMD.pdf

